p{
    color: black;
}

.EIC-Content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.EIC-line{
    width: 2px;
    background-color: #707070;
    height: 100%;
}

.EIC-divider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expenses-income-card-container{
    padding: 10px 0px;
}