.last-transaction-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.last-transaction-card-chooser{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.selected{

}