.analytic-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.analytic-card-container {
    width: 250px;
}

.analityc-chart-container {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-text {
    margin-top: -80px;
}

.chart-legends {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.chart-legends-items {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.blue {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 5px;
}

.yellow {
    width: 10px;
    height: 10px;
    background-color: var(--yellow);
    border-radius: 5px;
}

.orange {
    width: 10px;
    height: 10px;
    background-color: var(--orange);
    border-radius: 5px;
}