.button-container {
    background-color: var(--blue);

    cursor: pointer;
}

.full {
    padding: 10px 40px;
    width: 100%;
    border-radius: 15px;
}

.small {
    width: 72px;
    height: 18px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}