#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --highlight-color: #ff0000; /* Define your highlight color */
  --lightPurple:#E5E5FD;
  --white:#FFFFFF;
  --gray:#F7F6FE;
  --blue:#535CE5;
  --yellow:#FAA512;
  --darkGray:#808080;
}

