.main-template-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    max-height: 800px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
}